#listing-details {
    max-width: 700px;
    margin-top: 50px;
}

.listing-props {
    margin-top: 16px;
    margin-bottom: 16px;
    list-style: none;
}

.listing-props>li {
    font-size: 20px;
}
.listing-props>li>span {
    font-weight: 600;
    display: inline-block;
    width: 80px;
}

.listings-buttons {
    text-align: center;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}

.button-list {
    cursor: pointer;
    border: none;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.details-info>img {
    display: block;
    margin: auto;
    margin-bottom: 16px;
    max-height: 455px;
}

.description-para {
    margin-top: 16px;
    font-size: 16px;
}

button.button-list{
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a.button-list {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h3 {
    text-align: center;
    border-bottom: 15px;
}

.comment-top {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
